/*Phone*/
@media (max-width: 640px) {
    html {
        font-size: 10px;
    }

    .hamburger-btn {
        display: inline-flex;
    }

    .hamburger-btn span {
        display: block;
        height: 3px;
        width: 30px;
        background-color: var(--neutral-color);
        margin: 6px auto;
    }

    /* Toggle Function*/
    #checkbox:not(:checked)~.nav-options {
        height: 0px;
        overflow: hidden;
    }

    #checkbox:checked~.nav-options {
        height: auto;
        overflow: auto;
    }

    header {
        height: max-content;
        flex-direction: column;
        padding: 2%;

    }

    .logo {
        width: 100%
    }

    .nav-options {
        flex-direction: column;
        width: 100%;
    }

    .nav-options a {
        margin: 1rem;
    }

}

/* Tablet */
@media (max-width: 1007px) {
    html {
        font-size: 12px
    }

    .about-section {
        flex-direction: column;
    }

    .about-image-container {
        background-color: brown;
        width: 100%;
    }

    .about-image-container img {
        width: 30%;
    }

    .about-desciption-container {
        width: 100%;
        margin: 2rem;
    }

    .project-card {
        width: 50%;
    }

    .project-card img {
        width: 100%;
        object-fit: cover;
        object-position: center 45%;
    }

    .project-card a {
        width: 50%;
        font: 1px;

    }
}